.contenedor_form-input-agregar-producto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input-agregar-producto{
    display: flex;
    flex-direction: column;
}
.titulo-form-input-agregar-producto{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.form-input-agregar-producto input{
    margin: 8px;
    font-size: 28px;
}
.btn-administrador_form{
    display: flex;
    justify-content: center;
    background-color: #2A7AE4;
    color: #c7c7c7; 
    cursor: pointer;
    margin: 8px;
    font-size: 28px;
    border: 1px;
    box-shadow: rgb(0 120 180) 0px 0px 4px 0px;
}
.contenedor-cerrar_form-administrador{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
    
}
.cerrar_form-administrador{
    /* font-size: 19px; */
    background-color: rgb(228 42 42);
    color: white;
    border-radius: 5px;
    font-size: 28px;
    border: 1px;
    cursor: pointer;
    box-shadow: rgb(221, 0, 0) 0px 0px 6px 0px;
}

