.contenedor_footer{
    padding: 10px 0px 0px 0px;
}
.titulo-footer, .fecha-footer{
    text-decoration: none;
    color: rgba(129, 129, 129, 0.884);
    padding: 0px 3px;
    font-size: 12px;
    justify-content: center;
    display: flex;
}