.contenedor-header{
    display: flex;
    /*background: #dba96c; */
    background: rgb(255, 255, 255);
    padding: 12px 0px 0px 0px;
}
.logo-alura{
    display: flex;
    padding: 0px 0px 13px;
}
.btn-login{  
    border: none;
    padding: 0.6rem 0.8rem;
    background: rgb(255, 255, 255);
    margin-right: 1rem;
    font-weight: 600;
    box-shadow: rgb(0 120 180) 0px 0px 3px 0px;
    cursor: pointer;
    border-radius: 10px;
}
.li-search_header{
    width: 250px;
}
.li-search_header input{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: none;
    box-shadow: rgb(164, 180, 180) 0px 0px 3px 0px;;
    border-radius: 10px;
}
.contenedor-lista-header{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 17px;
    
    width: 100%;
    align-items: center;
    
}

.contenedor-lista-header a{
    text-decoration: none;
    border: 1px solid rgba(50, 50, 50, 0.2);
    border-radius: 10px;
    color: rgb(102, 102, 102);
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    
}
.contenedor-img-header{
    display: flex;
    justify-content: center;
}
.img-header{
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.texto-promocion_header{
    position: absolute;
    flex-direction: column;
    margin: 20px;
    align-items: self-start;
    width: 75%;
}

.vinculo-promocion_header{
    background: #2A7AE4;
    border: 1px;
    border-radius: 3px;
}
.texto-promocion_header p{
    font-size: 20px;
}
