
/* */
.macro_contenedor{
    max-width: 1200px;
    margin: auto;
     
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 100%;
    /*height: 550px; */
     
    padding: 5px 2px;
    
    max-width: 980px;
    margin: auto;
    /*overflow: hidden; */
    justify-content: flex-start;
}

.contenedor-producto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: block;
    height: 290px;
    width: 300px;
    background: #ffffff;
    margin: 10px;
    
}
.contenedor-producto:hover{
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    cursor: pointer;
}
.modificacion{
    display: flex;
    justify-content: space-around;
}
.producto-ind{
    width: 70%;
    height: 210px;
    margin: auto;
}
.producto-ind img{
    max-height: 90%;
    max-width: 90%;
}
.contenedor-nombre-producto{
    justify-content: center;
    display: flex;
    margin: 5px 0px;
}
.contenedor-precio-producto{
    justify-content: center;
    display: flex;
    margin: 5px 0px;
    
}
/* Solo logeado */
.btn_ocultar-eliminar{
    display: none;
    
}
.btn_mostrar-eliminar{
    display: show;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background: #f63c3c;
    border-radius: 50px;
    padding: 4px 10px;
    display: block;
    border:none;
}

.btn_ocultar-editar{
    display: none;
}

.btn_mostrar-editar{
    display: show;
    font-weight: 700;
    font-size: 12px;
    background: #3997ee;
    border-radius: 50px;
    padding: 4px 10px;
    display: block;
    border:none;
}
.btn_mostrar-editar a{
    color: #fff;
    text-decoration: none;
}

.precio_producto{
    font-weight: 900;
    color: #888888;
}
.nombre_producto{
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #3c3c3c;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
}
.ver_producto{
    line-height: 13px;
    font-weight: 500;
    color: #3c3c3c;
    font-size: 13px;
    padding-top: 6px;
    width: auto;
}